doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="descrition", content="Meu APP")
        meta(name="author", content="Jailson Tenorio")
        block title
             title Example XSS
    
    body
        block content